[github]
	user = aaroncrespo
[user]
	name = Aaron Crespo
	email = aaroncrespo@gmail.com
	user = aaroncrespo
[color]
	iu = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
