# Make Tab autocomplete regardless of filename case
set completion-ignore-case on

#history searching forward and back
"\e[A":history-search-backward
"\e[B":history-search-forward

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on

# Immediately add a trailing slash when autocompleting symlinks to directories
set mark-symlinked-directories on

# Show extra file information when completing, like `ls -F` does
set visible-stats on

# Do not autocomplete hidden files unless the pattern explicitly begins with a dot
set match-hidden-files off

# Show all autocomplete results at once
set page-completions off

# Show extra file information when completing, like `ls -F` does
set visible-stats on

set skip-completed-text on

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set input-meta on
set output-meta on
set convert-meta off
set completion-ignore-case on

# Neither sound a beep nor flash the screen when trying to ring the bell.
set bell-style none



